<h2 class="text-center" style="margin: 60px;"><b>Register Employee</b></h2>
<div class="container" style=" padding: 20px; border-style: double;">
    <h2>Employee Registration</h2>
    <form #RegistrationForm ="ngForm" (ngSubmit)="registerUser()">
      <small class="text-dangers">{{msg}}</small>
      
      <div class="form-group">
        <label for="id">Employee Id:</label>
        <input type="number" class="form-control"  placeholder="Enter UserID" name="id"  [(ngModel)]="user.id" required #id="ngModel" [class.is-invalid]=" id.invalid && id.touched" >
        <small class="text-danger" [class.d-none]=" id.valid || id.untouched">Employee ID is Required ..</small> 
      
      </div>
      <div class="form-group">
        <label for="userName">Employee Name:</label>
        <input type="text" class="form-control"  placeholder="Enter UserName" name="userName"  [(ngModel)]="user.userName" required #userName="ngModel" [class.is-invalid]=" userName.invalid && userName.touched" >
        <small class="text-danger" [class.d-none]=" userName.valid || userName.untouched">Employee Name is Required ..</small> 
      
      
      </div>
      
      <div class="form-group">
        <label for="role">Employee Role:</label>
        <input type="text" class="form-control"  placeholder="Enter role" name="role"  [(ngModel)]="user.role" required #role="ngModel" [class.is-invalid]=" role.invalid && role.touched" >
        <small class="text-danger" [class.d-none]="role.valid || role.untouched">Employee Role Discrption.</small>
      
      
      </div>
     
      <div class="form-group">
        <label for="address">Employee address:</label>
        <input type="text" class="form-control"  placeholder="Enter address" name="address"  [(ngModel)]="user.address" required #address="ngModel" [class.is-invalid]=" address.invalid && address.touched" >
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Employee Address Needed..</small>
      
      
      </div>
      <div class="form-group">
        <label for="phone">Employee Number</label>
        <input type="text" class="form-control"  placeholder="Enter Number" name="phone"  [(ngModel)]="user.phone" required #phone="ngModel" [class.is-invalid]=" phone.invalid && phone.touched" >
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Employee Contach number Required.</small>
      
      
      </div>
      <div class="form-group">
        <label for="bdate">Employee BirthDate</label>
        <input type="text" class="form-control"  placeholder="Enter Birthdate" name="bdate"  [(ngModel)]="user.bdate" required #bdate="ngModel" [class.is-invalid]=" bdate.invalid && bdate.touched" >
        <small class="text-danger" [class.d-none]="bdate.valid || bdate.untouched">Employee BirthDate required..</small>
      
      
      </div>
     

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <!---- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is Required And Should be in Specific Format</small> --->
        
        <div   *ngIf="email.errors && (email .invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email Id is required Field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter valid Email Id</small>
        </div>
        
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter password" name="password"  (ngModel)="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Id is Required ..</small>
      
      
      </div>
      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control"  placeholder="Confirm password" name="cpassword"  [(ngModel)]="user.password" required #cpassword="ngModel" 
        [class.is-invalid]="cpassword.invalid && cpassword.touched" >
        <small class="text-danger" [class.d-none]="(cpassword.value == password.value)|| cpassword.untouched">Password And confirm Password is Matched </small>
      
      
      </div>
       

      
      <button [disabled] = "RegistrationForm.form.invalid" type="submit" class="btn btn-info">Create </button>
    </form>
    <h4 class="float-right btextual " [routerLink]="['/login']">Existing user ? Login here</h4>
  </div>