
<h2 class="text-center" ><i>Feed Page</i></h2>
<div style="box-shadow: lightblue; margin-top: 5px; margin-bottom: 20px; padding: 10px; border-bottom-left-radius: 10%;" >

    
<form #feedForm ="ngForm" (ngSubmit)="postFeed()"   style="margin-left: 20%; margin-right:30%; margin-top: 5%; border: 2px;">

  <!------
      <input type="text" class="form-control " name="sender"  [(ngModel)]="feed.sender"  required  #sender="ngModel"   placeholder="Best wishes from"> --->
      
      <input type="text" class="form-control " style="padding: 30px; border-style:double; border-top-left-radius: 50%; border-bottom-right-radius: 50%;" name="discription" [(ngModel)]="feed.discription" required #discription="ngModel" placeholder=" Type Some thing here">
  <!----   <input type="text" class="form-control " name="sender" [(ngModel)]="feed.sender" required #sender="ngModel" placeholder=" Type Some thing here sendrer"> -->
  
    <button type="submit" class="btn btn-primary mb-2">Post</button>
  </form>
  </div>
  <div>
  
    <h5>
  <div class="card" style="width: 20rem;" style="float: right; padding: 20px; margin: 50px;" >
     <h4>Do You Want To update Profile.</h4>
     <button (click)="gotoupdate()" class="btn btn-primary mb-2">Click Here</button>
  </div>   
 </h5>
 </div>
 <div class="container" style="width: 20%; float: left;">
    <div class="card"></div>

 </div>
 <div class="container" style="width: 45%; float: left;">
     <div class="card" *ngFor="let i of feeds.slice().reverse()" style="margin: 40spx;">
     <div class="card-body">
        <h5 class="card-title" style="font-family: monospace;">🥳🎉Congratulation</h5>
        <p class="card-text"><b>{{i.discription}}</b></p>

     </div>
    <div class="card"> 
        <div class="card-body">
            <p class="card-text"><i>🎉🥳Best Wishes From Flentas group.</i></p>

     </div>

</div>

     </div>
 </div>

<!------
  
<div class="container" >
    <div class="card" style="padding: 20px ; "  >
        <div clas="card=-body">
         <div class="table table-striped"  style="padding: 10px;margin-top: 10px; margin-right: 20%;" >
                
                <tbody>
                    <tr *ngFor="let i of feeds">
                        <td style="border-right: double; border-left: double; box-shadow: lightgoldenrodyellow;padding: 50px; margin-block-end: 20px; padding-bottom: 20px; border-top-color: lightslategray;border-bottom: dotted;">{{i.discription}}
                            <br>
                            <section style="border-bottom: double ;margin-top: 30px;margin-bottom: 0px; font-family:Georgia, 'Times New Roman', Times, serif; border-left:double ; border-right: double; border-top: dotted; padding-top: 10px;">
                               ....Wishes From Flentas
                            </section>

                        </td>
                        


                    </tr>
                    <tr>
                        <br>
                    </tr>
                </tbody>
            </div> 
            
        </div>
    </div>
</div>
 ---->
 <!-------
<div>
   
  
   <h5>
 <div class="card" style="width: 20rem;" style="float: right; padding: 20px; margin: 50px;" >
    <h4>Do You Want To update Profile.</h4>
    <button (click)="gotoupdate()" class="btn btn-primary mb-2">Click Here</button>
 </div>   
</h5>
</div>
--->