<h2 class="text-center" style="margin: 5%;"><b>Login Emoloyee Profile</b></h2>
<div class="container" style="border: ; border-style: double; padding:10px">
    <h2>Employee Login </h2>
    <form #loginform ="ngForm" (ngSubmit)="loginUser()">
      {{loginform.valid}}
      <h2 class="text-danger">{{msg}}</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <!---- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is Required And Should be in Specific Format</small> --->
        
        <div   *ngIf="email.errors && (email .invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email Id is required Field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter valid Email Id</small>
        </div>
        
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter password" name="password"  [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Id is Required  i..</small>
      
      
      </div>
      
      <button [disabled] = "loginform.invalid" type="submit" class="btn btn-info">Login hereerrer</button>
    </form>
    <h4 class="float-right" style="margin:20px" (click)=gotoregistration()>New user ? register here</h4>
  </div>