<h1 class="text-center">Update Employee Profile </h1>
<div class="container" style="margin-bottom: 20%; margin-top: 5%; border-style: double; padding: 20px;">
    <h2>Employee Manage Profile</h2>
    <form #UpdataForm ="ngForm" (ngSubmit)="updateUser()">
      
      
      <div class="form-group">
        <label for="id">Employee Id:</label>
        <input type="number" class="form-control"  placeholder="Enter Correct UserId Else it will Create New Account" name="id"  [(ngModel)]="user.id" required #id="ngModel" [class.is-invalid]=" id.invalid && id.touched" >
        <small class="text-danger" [class.d-none]=" id.valid || id.untouched">Employee ID is Required ..</small> 
    
      </div>
      <div class="form-group">
        <label for="userName">Employee Name:</label>
        <input type="text" class="form-control"  placeholder="Enter UserName" name="userName"  [(ngModel)]="user.userName"  #userName="ngModel" >
      <!----- <small class="text-danger" [class.d-none]=" userName.valid || userName.untouched">Employee Name is Required ..</small> --->
      
      
      </div>
      
      <div class="form-group">
        <label for="role">Employee Role:</label>
        <input type="text" class="form-control"  placeholder="Enter role" name="role"  [(ngModel)]="user.role"  #role="ngModel"  >
     <!------   <small class="text-danger" [class.d-none]="role.valid || role.untouched">Employee Role Discrption.</small> --->
      
      
      </div>
      <div class="form-group">
        <label for="address">Employee address</label>
        <input type="text" class="form-control"  placeholder="Enter address" name="address"  [(ngModel)]="user.address"  #address="ngModel" >
      <!----- <small class="text-danger" [class.d-none]=" userName.valid || userName.untouched">Employee Name is Required ..</small> --->
      
      
      </div>
      <div class="form-group">
        <label for="phone">Employee Contact Number</label>
        <input type="text" class="form-control"  placeholder="Enter Contact Number" name="phone"  [(ngModel)]="user.phone"  #phone="ngModel" >
      <!----- <small class="text-danger" [class.d-none]=" userName.valid || userName.untouched">Employee Name is Required ..</small> --->
      
      
      </div>
      <div class="form-group">
        <label for="bdate">Employee Birthdate</label>
        <input type="text" class="form-control"  placeholder=" YYYY/MM/DD Foramt" name="bdate"  [(ngModel)]="user.bdate"  #bdate="ngModel"  >
     <!------   <small class="text-danger" [class.d-none]="role.valid || role.untouched">Employee Role Discrption.</small> --->
      
      
      </div>
     
      

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId"  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched"> 
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is Required And Should be in Specific Format</small> 
        
        
        <div   *ngIf="email.errors && (email .invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email Id is required Field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter valid Email Id</small>
        </div>
    
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter password" name="password"  (ngModel)="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Id is Required ..</small>
      
      
      </div>
      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control"  placeholder="Confirm password" name="cpassword"  [(ngModel)]="user.password" required #cpassword="ngModel" 
        [class.is-invalid]="cpassword.invalid && cpassword.touched" >
        <small class="text-danger" [class.d-none]="(cpassword.value == password.value)|| cpassword.untouched">Password And confirm Password is Matched </small>
      
      
      </div>

      
      <button  type="submit" style="float:inherit;" class="btn btn-info">Update </button>
    </form>
   
  </div>